@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/*size of the box will include padding and border*/

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*font proporty of the site*/

body, button, input, select, textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  color: black;
}

/*-----------Headers
-------------------------------*/

h1, h2, h3 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

/* Pharagraph setting
----------------------------------------------*/

/* Link setting
----------------------------------------------*/

a {
  text-decoration: none;
  outline: none;
  *display: block;
  color: inherit;
  /*white*/
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:hover {
  color: white;
  background-color: black;
}

/*This will afffect links on main div*/

#main a:hover {
  color: red;
  background-color: transparent;
}

/* BOLD
----------------------------------------------*/

strong, b {
  font-weight: 400;
}

/* IMAGES
----------------------------------------------*/

img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* SELECTIONS, PLACEHOLDERS
----------------------------------------------*/

/*Document selection*/

::selection {
  background-color: #282e3e;
  color: #fff;
}

/*Form elements placeholders*/

::placeholder {
  color: #ccc;
}

/* COMMON CLASSES
------------------------------------*/

/* DISPLAY
----------------------------------------------*/

.DN {
  display: none;
}

.DB {
  display: block;
}

.DIB {
  display: inline-block;
}

/*Display fley the default flex display is row
----------------------------------------------*/

.FRD {
  /*This class will display flex childs in a row*/
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FCD {
  /*This class will display flex childs in a Column*/
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* TYPOGRAPHIE
----------------------------------------------*/

.FW-300 {
  font-weight: 300;
  font-size: 1.02em;
}

.FW-900 {
  font-weight: 900;
}

.UPP {
  text-transform: uppercase;
}

.AC {
  text-align: center;
}

/* MARGINS
----------------------------------------------*/

.MT-1 {
  margin-top: 1em;
}

.MT-2 {
  margin-top: 2em;
}

.MT-3 {
  margin-top: 3em;
}

.MT-6 {
  margin-top: 6em;
}

.MB-1 {
  margin-bottom: 1em;
}

.MB-2 {
  margin-bottom: 2em;
}

.MB-3 {
  margin-bottom: 3em;
}

.MX-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Horizontal line for all pages
----------------------------------------------*/

.hr-1 {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.hr-1:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

/* PADDINGS
----------------------------------------------*/

.PT-0 {
  padding-top: 0;
}

.PT-1 {
  padding-top: 0.25em;
}

.PT-2 {
  padding-top: 0.50em;
}

.PT-3 {
  padding-top: 1em;
}

.PT-4 {
  padding-top: 1.25em;
}

.PT-5 {
  padding-top: 1.50em;
}

.PT-6 {
  padding-top: 2em;
}

/*etc.*/

.PB-0 {
  padding-bottom: 0;
}

.PB-1 {
  padding-bottom: 0.25em;
}

.PB-2 {
  padding-bottom: 0.50em;
}

.PB-3 {
  padding-bottom: 1em;
}

.PB-4 {
  padding-bottom: 1.25em;
}

.PB-5 {
  padding-bottom: 1.50em;
}

.PB-6 {
  padding-bottom: 2em;
}

.PX-3 {
  padding-left: 1em;
  padding-right: 1em;
}

.PY-3 {
  padding-top: 1em;
  padding-top: 1em;
}

/*IS1EM 2EM 3EM they will set the font size of my icons to 1em 2em 3 em respectivly*/

.IS1EM::before {
  font-size: 1em;
}

.IS2EM::before {
  font-size: 2em;
}

.IS3EM::before {
  font-size: 3em;
}

/* LAYOUT --> COMMON ELEMENTS
===================================================================================*/

/* containers
----------------------------------------------*/

.big-cont {
  width: 95%;
}

.left-cont {
  width: 18%;
}

.m-cont {
  width: 80%;
  border-left: 1px solid red;
  padding-left: 20px;
}

/* footer
----------------------------------------------*/

footer {
  height: 150px;
  background-color: #ccc;
  color: black;
}

footer #container {
  align-items: center;
}

/* pages
=============================================*/

/*index page
---------------------------------*/

#index {
  width: 100%;
}

/*index page header
---------------------------------*/

#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  background-color: #fff;
  z-index: 10;
}

#logo {
  min-width: 120px;
}

#social {
  min-width: 120px;
}

#nav {
  height: 4em;
}

#nav a {
  line-height: 4em;
}

/*index page banner
---------------------------------*/

#banner {
  min-height: 100vh;
  padding: 6em 0;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: #fff;
}

#inner {
  width: 300px;
  background-color: rgba(0, 0, 0, .4);
}

#banner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}

#banner h2 {
  border-bottom: solid 2px;
  border-top: solid 2px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.15em;
  position: relative;
  text-transform: uppercase;
}

/*index page main content
---------------------------------*/

/*-------page news
-----------------------------*/

#news-body {
  background-color: #f3f6fa;
}

#inner-news {
  width: 290px;
  height: 300px;
  background-color: whitesmoke;
}

#inner-news .photo {
  width: 100%;
  max-height: 200px;
}

/*------events
--------------------------------------*/

.event-container {
  /*it could be a class for all pages change*/
  min-width: 600px;
  margin: 0 auto;
}

.event-container ul li {
  /*This the height of each event*/
  min-width: 300px;
  position: relative;
  height: 400px;
  background: #fff;
  margin-bottom: 1em;
}

.event-container .photo {
  /*event photo will be Autox200px*/
  max-height: 200px;
}

.event-container img {
  /*event photo will be Autox200px*/
  max-height: 200px;
  border-radius: 10px;
}

.event-container .inner {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 200px;
  padding: 0 1em;
}

.event-container .event-date {
  color: #e0a156;
}

.event-date::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 2px solid #e0a156;
}

#e_topic {
  text-transform: uppercase;
  color: #1b3a51;
}

#readmore {
  position: absolute;
  bottom: 0px;
}

/*----contact
--------------------------------------------*/

#c-wrapper, #c-address, #c-form, #c-socail, #c-form > div {
  min-width: 650px;
}
#c-wrapper {
  padding-left: 1em;
  border: #e0a156 1px double;
}
.BS-45P {
  display: block;
  min-width: 300px;
}

.BS-30P {
  display: block;
  min-width: 200px;
}

#c-msg {
  min-width: 650px;
}

#c-submit {
  min-width: 100px;
  height: 30px;
  align-self: center;
}

.c-group {
  min-width: 310px;
  justify-content: space-around;
}
/*=========Membership page
=======================================*/
.W-100P {
  width: 100%;
}
#membership label {
  display: none;
}

/*=========MEDIA QUERY
=======================================*/
/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */
@media only screen and (max-width: 400px) {
  
}